.main-advantages {
  min-height: 562px;
  color: $color-tangaroa;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $color-solitude;

  img {
    position: absolute;
    z-index: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: $vp-1023) {
    min-height: 588px;
  }

  @media (max-width: $vp-767) {
    min-height: 920px;
  }
}

.main-advantages__wrapper {
  margin: 0 auto;
  padding: 120px 103px;
  display: grid;
  grid-row-gap: 40px;
  justify-content: center;
  align-items: center;
  align-self: center;
  z-index: 1;

  @media (max-width: $vp-1023) {
    padding: 100px 45px;
  }

  @media (max-width: $vp-767) {
    grid-row-gap: 30px;
    padding: 58px 15px 68px;
  }

  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 2px;
    margin: 0;
    position: relative;
    bottom: 10px;

    @media (max-width: $vp-1023) {
      font-size: 26px;
      line-height: 39px;
      bottom: 12px;
      letter-spacing: 1px;
    }

    @media (max-width: $vp-767) {
      font-size: 24px;
      line-height: 36px;
      bottom: 0;
    }
  }
}

.main-advantages__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 40px;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding: 0;

  @media (max-width: $vp-1023) {
    grid-gap: 30px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    grid-column-gap: none;
    grid-row-gap: 30px;
  }
}

.main-advantages__card {
  box-sizing: border-box;
  padding: 30px;
  background-color: $color-alice-blue;
  display: grid;
  grid-template-rows: 36px auto auto;
  align-content: flex-start;
  align-items: center;
  letter-spacing: 1px;

  @media (max-width: $vp-1023) {
    padding: 21px;
    letter-spacing: 0;
  }

  h3 {
    margin: 12px 0 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    align-self: baseline;

    @media (max-width: $vp-1023) {
      line-height: 26px;
      margin: 10px 0;
    }

    @media (max-width: $vp-767) {
      line-height: 25px;
      margin: 10px 0 11px;
      width: 185px;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    align-self: baseline;
  }
}

.main-advantages__logo {
  @media (max-width: $vp-767) {
    position: relative;
    right: 4px;
  }
}
