.main-description {
  min-height: 541px;
  color: $color-tangaroa;

  @media (max-width: $vp-1365) {
    min-height: 464px;
  }

  @media (max-width: $vp-767) {
    min-height: 640px;
  }
}

.main-description__wrapper {
  width: $vp-1366;
  margin: 0 auto;
  padding: 120px 103px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;

  picture {
    justify-self: flex-end;
  }

  @media (max-width: $vp-1365) {
    width: $vp-768;
    padding: 100px 45px;
  }

  @media (max-width: $vp-767) {
    width: $vp-320;
    padding: 65px 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 50%);
    grid-row-gap: 40px;
  }
}

.main-description__block {
  width: 520px;
  align-self: center;

  @media (max-width: $vp-1365) {
    width: 325px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
  }

  h2 {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
  
    @media (max-width: $vp-1365) {
      margin: 0 0 30px 0;
      font-size: 26px;
      line-height: 36px;
    }
  
    @media (max-width: $vp-767) {
      font-size: 24px;
      line-height: 34px;
    }
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
