.main-ordering {
  color: $color-tangaroa;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $color-solitude;

  img {
    position: absolute;
    z-index: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-ordering__wrapper {
  margin: 0 auto;
  padding: 52px 161px 46px 161px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  @media (max-width: $vp-1023) {
    flex-direction: column;
    padding: 91px;
  }

  @media (max-width: $vp-767) {
    padding: 65px 15px 55px;
  }
}

.main-ordering__block {
  @media (max-width: $vp-1023) {
    text-align: center;
    margin: 0 auto 60px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 20px;
  }

  h2 {
    position: relative;
    top: 5px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 2px;
    margin: 0;

    @media (max-width: $vp-1023) {
      font-size: 34px;
      line-height: 51px;
      top: 0;
    }

    @media (max-width: $vp-767) {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 5px;
    }
  }

  p {
    width: 390px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;

    @media (max-width: $vp-1023) {
      margin: 0 auto;
    }

    @media (max-width: $vp-767) {
      letter-spacing: 0;
      width: inherit;
    }
  }
}

.main-ordering__container {
  width: 403px;
  background-color: $color-tangaroa;
  padding: 50px;

  @media (max-width: $vp-767) {
    width: clamp(290px, 75%, 600px);
    padding: 40px 30px;
  }

  h3 {
    position: relative;
    bottom: 10px;
    color: $color-alice-blue;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 27px;
    margin: 0;

    @media (max-width: $vp-767) {
      text-align: center;
    }
  }
}

.main-ordering__form {
  p {
    margin: 23px 0;
  }

  input {
    width: 100%;
    padding: 11px 16px;
    border: none;
    color: rgba(1, 28, 64, 0.7);

    &:hover,
    &:focus-within {
      outline: 2px solid $color-alice-blue;
      outline-offset: 0.3em;
    }
  }
}

.main-ordering__checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 25px;
  color: $color-alice-blue;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;

  label {
    position: relative;
    display: flex;
    align-items: center;
  }

  input[type="checkbox"] + span {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-color: $color-alice-blue;

    &:hover,
    &:focus,
    &:focus-within {
      outline: 2px solid $color-alice-blue;
      outline-offset: 0.3em;
    }
  }

  input[type="checkbox"]:checked + span {
    content: url("../img/svg/icon-tick.svg");
  }

  input[type="checkbox"]:focus + span {
    outline: 2px solid $color-alice-blue;
    outline-offset: 0.3em;
  }

  input[type="checkbox"]:disabled + span,
  input[type="checkbox"]:disabled ~ small {
    opacity: 0.5;
  }

  small {
    font-size: 10px;
  }
}

.main-ordering__button {
  padding: 12px 15px;
  background-color: $color-alice-blue;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: $color-tangaroa;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  user-select: none;

  &:hover,
  &:focus-within {
    outline: 2px solid $color-alice-blue;
    outline-offset: 0.3em;
  }
}
