.main-contacts {
  color: $color-tangaroa;
  font-style: normal;
}

.main-contacts__wrapper {
  width: $vp-1366;
  margin: 0 auto;
  padding: 120px 103px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 80px;

  @media (max-width: $vp-1365) {
    width: $vp-768;
    padding: 100px 45px 75px 45px;
    grid-column-gap: 20px;
  }

  @media (max-width: $vp-767) {
    width: $vp-320;
    padding: 40px 15px 65px 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 50%);
  }
}

.main-contacts__map {
  width: 560px;
  height: 306px;

  @media (max-width: $vp-1365) {
    width: 324px;
    height: 355px;
  }

  @media (max-width: $vp-767) {
    width: 290px;
    height: 316px;
    order: 2;
  }
}

.main-contacts__data {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .main-contacts__text,
  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: $vp-1365) {
    width: 325px;
  }

  @media (max-width: $vp-767) {
    order: 1;
    width: 290px;
  }

  p {
    width: inherit;
    margin-top: 35px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    word-spacing: 6px;

    @media (max-width: $vp-1365) {
      margin-top: 10px;
    }
  }
}

.main-contacts__list {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (max-width: $vp-1365) {
    margin: 10px 0;
  }
}

.main-contacts__item {
  display: flex;
  margin-bottom: 20px;

  a[href^="tel:"] {
    color: $color-tangaroa;
  }

  p {
    margin: 0;
    word-spacing: 0;

    @media (max-width: $vp-1365) {
      width: 250px;
    }
  }
}

.main-contacts__logo {
  float: left;
  margin-right: 10px;
}
