.main-contacts {
  color: $color-tangaroa;
  font-style: normal;
}

.main-contacts__wrapper {
  margin: 0 auto;
  padding: 120px 103px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  justify-items: center;
  align-items: center;

  @media (max-width: $vp-1023) {
    padding: 100px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 65px 15px;
    flex-direction: column;
  }
}

.main-contacts__map {
  width: 560px;
  height: 306px;
  margin: 0 15px 0 0;

  @media (max-width: $vp-1023) {
    width: 324px;
    height: 335px;
    margin-right: 40px;
  }

  @media (max-width: $vp-767) {
    width: clamp(290px, 75%, 600px);
    height: 316px;
    order: 2;
    margin: 0;
  }
}

.main-contacts__data {
  max-width: 486px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-right: 14px;

  @media (max-width: $vp-1023) {
    max-width: 325px;
    margin-right: 0;
  }

  @media (max-width: $vp-767) {
    max-width: clamp(290px, 75%, 600px);
    order: 1;
    margin: 0;
  }

  .main-contacts__text,
  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  p {
    width: inherit;
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    word-spacing: 6px;

    @media (max-width: $vp-767) {
      margin-top: -10px;
    }
  }
}

.main-contacts__list {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (max-width: $vp-1023) {
    margin-top: 10px;
  }

  @media (max-width: $vp-767) {
    margin-top: 5px;
  }
}

.main-contacts__item {
  display: flex;
  margin-bottom: 20px;
  align-items: baseline;

  a[href^="tel:"] {
    color: $color-tangaroa;
  }

  p {
    margin: 0;
    word-spacing: 0;

    @media (max-width: $vp-1023) {
      width: 250px;
    }
  }
}

.main-contacts__logo {
  float: left;
  margin-right: 10px;
}
