.main-cruise__wrapper {
  width: $vp-1366;
  margin: 0 auto;
  padding: 120px 118px;
  display: flex;
  flex-direction: column;

  @media (max-width: $vp-1365) {
    width: $vp-768;
    padding: 100px 60px;
  }

  @media (max-width: $vp-767) {
    width: $vp-320;
    padding: 65px 30px;
  }

  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin: 0 0 60px 0;
    color: $color-tangaroa;
    text-align: center;

    @media (max-width: $vp-1365) {
      font-size: 26px;
      line-height: 39px;
    }

    @media (max-width: $vp-767) {
      font-size: 24px;
      line-height: 36px;
      margin: 0 0 40px 0;
    }
  }
}

.main-cruise__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;

  @media (max-width: $vp-1365) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @media (max-width: $vp-767) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

.main-cruise__card {
  position: relative;
  padding: 28px 25px 35px;
  color: $color-alice-blue;
  overflow: hidden;
  background-image: linear-gradient(180deg, transparent 50%, $color-tangaroa 100%);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  width: 260px;
  min-height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
  }

  &:hover,
  &:focus-within {
    background-color: $color-tangaroa;
    box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
  }

  &:hover h3,
  &:focus-within h3 {
    transform: none;
  }

  &:hover .main-cruise__info,
  &:focus-within .main-cruise__info,
  &:hover .main-cruise__cta,
  &:focus-within .main-cruise__cta {
    opacity: 1;
    transform: none;
  }

  @media (max-width: $vp-1365) {
    padding: 35px;
    width: 309px;
  }

  @media (max-width: $vp-767) {
    padding: 35px 25px;
    width: 270px;
  }

  h3 {
    margin: 0 0 14px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    z-index: 1;
    transform: translateY(308px);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
}

.main-cruise__info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.3s, 1s;
  transition-timing-function: ease-in-out;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: space-between;

  h4 {
    font-weight: 500;
    margin: 0;
  }

  p {
    font-weight: 400;
    color: $color-quartz;
    padding: 0;
    margin: 0 0 10px 0;
  }
}

.main-cruise__cta {
  margin-top: 18px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  padding: 9px;
  min-height: 40px;
  display: flex;
  place-content: center;
  text-align: center;
  text-decoration: none;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  transition-property: transform, opacity, color, background-color;
  transition-duration: 0.3s, 1s, 0.2s, 0.2s;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus-within {
    outline: 2px solid $color-alice-blue;
    outline-offset: 0.3em;
  }
}

.main-cruise__info,
.main-cruise__cta {
  transform: translateY(386px);
  opacity: 0;
}
