.main-description {
  color: $color-tangaroa;
}

.main-description__wrapper {
  margin: 0 auto;
  padding: 120px 103px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 40px;

  picture {
    justify-self: center;
    align-self: center;
  }

  @media (max-width: $vp-1023) {
    padding: 95px 42px 87px 50px;
    grid-column-gap: 30px;
  }

  @media (max-width: $vp-767) {
    padding: 55px 15px 64px;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
}

.main-description__block {
  align-self: center;

  h2 {
    margin-top: -6px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 1px;
    word-spacing: 5px;

    @media (max-width: $vp-1023) {
      width: 220px;
      font-size: 26px;
      line-height: 36px;
    }

    @media (max-width: $vp-767) {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 14px;
    }
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    word-spacing: 3px;
    position: relative;

    @media (max-width: $vp-1023) {
      letter-spacing: 0;
      bottom: 8px;
      word-spacing: 10px;
    }

    @media (max-width: $vp-767) {
      top: 5px;
    }
  }
}
