.page-header {
  position: absolute;
  width: 100%;
}

.page-header__wrapper {
  width: $vp-1366;
  margin: 0 auto;
  padding: 35px 103px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
