.page-footer {
  background-color: $color-tangaroa;
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 50px 103px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  justify-content: space-between;
  align-items: baseline;

  @media (max-width: $vp-1023) {
    padding: 40px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 40px 15px;
    grid-template-columns: 1fr;
    align-items: flex-start;
  }
}

.page-footer__logotype svg {
  fill: $color-alice-blue;

  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
  }
}

.page-footer__list {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  align-self: start;

  @media (max-width: $vp-767) {
    flex-direction: column;
    margin: 8px 0 5px;
  }
}

.page-footer__logotype {
  margin-right: 25px;
  align-self: flex-start;

  @media (max-width: $vp-1023) {
    margin-right: 20px;
    align-self: inherit;
  }

  @media (max-width: $vp-767) {
    margin: 0;
  }
}

.page-footer__item {
  letter-spacing: 2px;
  margin: 9px 16px;

  @media (max-width: $vp-1023) {
    letter-spacing: 1px;
    margin: 6px 14px 6px 9px;
  }

  @media (max-width: $vp-767) {
    margin: 5px 0;
  }
}

.page-footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-alice-blue;

  &:hover,
  &:focus-within {
    outline: 2px solid $color-alice-blue;
    outline-offset: 0.3em;
  }

  @media (max-width: $vp-1023) {
    font-size: 12px;
    line-height: 15px;
  }
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  min-width: 136px;
  justify-content: end;

  @media (max-width: $vp-1023) {
    min-width: 96px;
  }

  @media (max-width: $vp-767) {
    min-width: 84px;
    justify-content: start;
  }
}

.page-footer__ref {
  @media (max-width: $vp-1023) {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &:hover svg,
  &:focus-within svg {
    fill: $color-quartz;
  }

  &:focus {
    outline: 2px solid $color-alice-blue;
    outline-offset: 0.3em;
  }

  &:not(:last-child) {
    margin: 14px;

    @media (max-width: $vp-1023) {
      margin: 8px;
    }

    @media (max-width: $vp-767) {
      margin: 8px 12px 8px 0;
    }
  }

  &:last-child {
    margin: 14px 0 14px 14px;

    @media (max-width: $vp-1023) {
      margin: 8px 0 8px 8px;
    }

    @media (max-width: $vp-767) {
      margin: 8px 12px 8px 0;
    }
  }
}
