.page-nav__toggle {
  position: absolute;
  padding: 0;
  right: -22px;
  top: -12px;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.page-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.page-nav__item {
  margin-left: 33px;
}

.page-nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  color: $color-alice-blue;
}
